@(id: Long, formulario: Form[Bebida])

@import helper._

@main("Restaurante") {
    <h2> Editar Bebida </h2>
    
    @form(routes.Bebidas.update(id)) {
        <fieldset>
            @inputText(formulario("id"), 'readonly -> "readonly",                                   '_label -> "ID      :")
            @inputText(formulario("name"), '_showConstraints -> false,                              '_label -> "Nombre      :")

        </fieldset>
        
        <input type="submit" value="Guardar"> -
        <a href="@routes.Bebidas.index"> <input type="button" value="Cancelar"> </a>
    }
}





















