/***********************************************************GeneralCSS***********************************************************/
html,body{
    background-color: #FFFEEE !important;
}
.full-height{
    height: 100%;
}
.height-50{
	height: 50%;
}
.internal-container{
	/*background-image: url(../images/bg.png);
	background-repeat: none;
	background-size: cover;*/
	padding: 125px 0px;
}
.list-item{
	display: -moz-inline-box;	
	padding: 0px 16px;
}
.list-item:hover, .btn-list:hover, .list-item[disabled], .btn-list[disabled] {
	/*background-color: #DEAD71 !important;*/
	color: #DEAD71;
}
.mi-nav{
	vertical-align: sub;
	font-size: 24px;
}
.Center{
	display: block;
	left: auto;
	right: auto;
}
.block-content{
    background: #333333;
	padding: 24px;
    color: 	#ffffff;
}
.thumbnail-container{
    padding: 16px 0px 16px 16px;
}
.thumbnail-img{
    height: 100px;
    width: 100%;
    cursor: pointer;
}
.thumbnail{
    display: block;
    padding: 8px 0px 8px 16px;
}
.th-title{
    font-weight: bold;
}
.th-dscrp{
    
}
.th-price{

}
.padding-2x{
    padding: 16px;
}
.precio-anterior{
    color: red;
    text-decoration: line-through;
}
.precio-actual{
    font-weight: bold;
}
.btn-primary{
    color: #2196F3;
    font-weight: bold;
}
.GeneralContainer{
    padding-top: 81px;
}
md-list{
    padding: 0px;
}
md-list-item{
    cursor: pointer;
}
.btn-list{
    width: 100%;
    height: 100%;
    margin: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    font-weight: bold;
}
#template{
    background-image: url(../images/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
md-list-item.md-1-line, .container, .container-custom{
    background-color: rgba(51, 51, 51, 0.6);
    color: #ffffff;
}
.white-text{
    color: #ffffff !important;
}
.nav-bar{
    height: 80px;
}
.container{
    padding: 16px;
}
md-select .md-select-value.md-select-placeholder{
    color: #ffffff;
}
md-select .md-select-value {
    border-bottom-color: #ffffff;
}
.master-container{
    overflow-x: auto;
} 
/***********************************************************AnimationsCss***********************************************************/
.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 
/*******UP*********/
@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}

/*******Left*********/
@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}

/*******Right*********/

@-webkit-keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRight { 
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
}
/***********************************************************ClienteCss***********************************************************/
#Center-title{
	line-height: 3;
}
#nav-list{
	list-style: none;
	cursor: pointer;
	font-size: 12px;
	height: 32px;
	line-height: 3;
	display: -webkit-inline-box;
}
#main-title{
	font-size: 2.5em;
	text-align: center;
	color: #521300;
}
#logoimg{
	right: 42%;
	width: 15%;
	position: absolute;
}
md-toolbar:not(.md-menu-toolbar) {
    background-color: rgba(51, 51, 51, 0.6);
    color: #ffffff;
    position: fixed;
}
#titlePage{
	text-shadow: -4px 4px 16px white;
    margin-left: 53.6px;
    margin-top: 128px; 
}
.md-1-line{
	height: 75px;
}
.flex-20 > h3 {
	font-weight: bold !important;
}
.em-custom{
	display: -webkit-inline-box;
    right: 108px;
    top: 45px;
    position: absolute;
    font-weight: bold;
}
.block-content > h3 {
	display: -webkit-inline-box;
}
.Board{
	background-image: url(../images/Board.png);
	background-repeat: none;
	background-size: cover;
	height: 620px;
}
.Board-content{
	height: 620px;
	padding: 80px 48px 0px 56px;
}

.board-Menu-title{
	padding: 0px 0px 8px 0px;
	font-size: 24px;
	color: #FFFF00;
}
.board-Menu-title-2{
	font-size: 24px;
	text-decoration: underline;
	color: #CDDC39;
}
.board-list-item{
	color: white !important;
}
.Board-content > div > 	md-list > md-list-item {
	min-height: 53px;
}
.menu-banner{
    background-image: url(../images/menu.jpg);
    background-repeat: none;
    background-size: cover;
    padding: 150px;
    margin: 64px 0px 48px 0px;
}
.menu-banner-1{
    background-image: url(../images/Carta.png);
    background-repeat: none;
    background-size: cover;
    padding: 150px;
    margin: 48px 0px; 
}