/***********************************************************GeneralCSS***********************************************************/
.full-height{
    height: 100%;
}
.height-50{
	height: 50%;
}
.internal-container{
	height: calc(100% - 64px);
}
.list-item{
	display: -webkit-webkit-inline-box: ;
	-moz-webkit-inline-box: ;
	-ms-webkit-inline-box: ;
	-o-webkit-inline-box: ;
	webkit-inline-box: ;	
	padding: 0px 8px;
}
.mi-nav{
	vertical-align: sub;
	font-size: 24px;
}
.Center{
	display: block;
	left: auto;
	right: auto;
}
/***********************************************************ClienteCss***********************************************************/
#Center-title{
	line-height: 3;
}
#nav-list{
	list-style: none;
	cursor: pointer;
	font-size: 16px;
	height: 32px;
	line-height: 2;
	display: -webkit-inline-box;
}
.container-cliente{
	background-image: url(../images/bg.png);
	background-repeat: none;
	background-size: cover;
}
#main-title{
	font-size: 2em;
	text-align: center;
	color: #EF6C00;
	font-family: 'Playball', cursive;
}