<md-content layout-padding layout="row" class="full-height">
	<div flex="50">
		<form name="newPromo">
		    <md-input-container>
				<label>Nombre</label>
				<input type="text" ng-model="promocion.nombre">
		    </md-input-container>
		    <md-input-container>
				<label>Descripcion</label>
				<input type="text" ng-model="promocion.descripcion">
		    </md-input-container>
		    <md-input-container>
				<label>Precio Anterior</label>
				<input type="text" ng-model="promocion.precioAnt">
		    </md-input-container>
		    <md-input-container>
				<label>Precio Actual</label>
				<input type="text" ng-model="promocion.precioAct">
		    </md-input-container>
		</form>
	    <md-button class="md-raised" ng-click="sendPromocion()"> Enviar </md-button>
    </div>
    <div flex="50">
		<form name="deletePromo">
		    <md-input-container>
				<label>Id de plato</label>
				<input type="text" ng-model="promocion.id">
		    </md-input-container>
		</form>
	    <md-button class="md-raised" ng-click="deletePromocion()"> Enviar </md-button>
    </div>	
</md-content>