<md-content layout-padding>
    <form name="newPromo">
	    <md-input-container>
			<label>Nombre</label>
			<input type="text" ng-model="promocion.nombre">
	    </md-input-container>
	    <md-input-container>
			<label>Descripcion</label>
			<input type="text" ng-model="promocion.descripcion">
	    </md-input-container>
	    <md-input-container>
			<label>Precio Anterior</label>
			<input type="text" ng-model="promocion.precioAnt">
	    </md-input-container>
	    <md-input-container>
			<label>Precio Actual</label>
			<input type="text

			" ng-model="promocion.precioAct">
	    </md-input-container>
	</form>
    <md-button class="md-raised" ng-click="sendPlato()"> Enviar </md-button>
</md-content>