@(id: Long, formulario: Form[Entrada])

@import helper._

@main("Restaurante") {
    <h2> Editar Entrada </h2>
    
    @form(routes.Entradas.update(id)) {
        <fieldset>
            @inputText(formulario("id"), 'readonly -> "readonly",                                   '_label -> "ID      :")
            @inputText(formulario("name"), '_showConstraints -> false,                              '_label -> "Nombre      :")
            @inputText(formulario("price"), '_showConstraints -> false,                              '_label -> "Precio      :")
        </fieldset>
        
        <input type="submit" value="Guardar"> -
        <a href="@routes.Entradas.index"> <input type="button" value="Cancelar"> </a>
    }
}





















