<div class="container-cliente full-height">
	<md-toolbar>
		<nav>
			<div layout="row">
			 	<div flex="45">
					<ul id="nav-list">
						<li class="list-item">
							<span>Inicio</span> 
							<i class="material-icons mi-nav">home</i>
						</li>
						<li class="list-item">
							<span>Menu</span>
							<i class="material-icons mi-nav">local_dining</i> 
						</li>
						<li class="list-item">
							<span>Reservacion</span>
							<i class="material-icons mi-nav">event_seat</i>
						</li>
						<li class="list-item">
							<span>Delivery</span>
							<i class="material-icons mi-nav">local_shipping</i>
						</li>
					</ul>
				</div>
				<div flex="10">
					<span id="Center-title">Quick Order</span>
				</div>
				<div flex="45"></div>	
			</div>
		</nav>
	</md-toolbar>
	<div layout="row" class="internal-container">
		<div flex="30"></div>
		<div flex="40" id="main-title" layout="row" layout-align="center center">
			<h1>Nombre del Restaurante</h1>
		</div>
		<div flex="30"></div>
	</div>
</div>
