<div class="container-cliente full-height">
	<md-toolbar>
		<nav>
			<div layout="row">
			 	<div flex="40">
					<ul id="nav-list">
						<li class="list-item" ui-sref="cliente">
							<span>HOME</span> 
							<!-- <i class="material-icons mi-nav">home</i> -->
						</li>
						<li class="list-item" ui-sref="cliente.platos">
							<span>PLATOS</span>
							<!-- <i class="material-icons mi-nav">local_dining</i>  -->
						</li>
						<li class="list-item">
							<span>RESERVAR</span>
							<!-- <i class="material-icons mi-nav">event_seat</i> -->
						</li>
						<li class="list-item" ui-sref="cliente.delivery">
							<span>DELIVERY</span>
							<!-- <i class="material-icons mi-nav">local_shipping</i> -->
						</li>
					</ul>
				</div>
				<div flex="20" layout="row" layout-align="center center">
					<img src="../images/logo.png" alt="logo" id="logoimg">
				</div>
				<div flex="40"></div>	
			</div>
		</nav>
	</md-toolbar>
	<div layout="column" ui-view>
		<div layout="row" class="internal-container animated fadeInUp">
			<div flex="30"></div>
			<div flex="40" id="main-title" layout="row" layout-align="center center">
				<h1 id="titlePage">Raices Peruanas</h1>
			</div>
			<div flex="30"></div>
		</div>
		<div layout="row">
			<div flex="50" class="animated fadeInLeft">
				<div layout="row">
					<div flex class="block-content">
						<h3>Especialidades</h3>
						<em class="em-custom">Precio</em>
						<md-divider></md-divider>
						<md-list>
					      	<md-list-item class="md-2-line" flex>
					      		<div layout="row" flex>
						        	<div class="md-list-item-text" layout="column" flex="80">
						          		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h3>
						          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						        	</div>
						        	<div class="md-list-item-text" layout="column" flex="20">
						          		<h3>S/20.00</h3>
						        	</div>
					        	</div>
					      	</md-list-item>
						    <md-list-item class="md-2-line" flex>
					      		<div layout="row" flex>
						        	<div class="md-list-item-text" layout="column" flex="80">
						          		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h3>
						          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						        	</div>
						        	<div class="md-list-item-text" layout="column" flex="20">
						          		<h3>S/20.00</h3>
						        	</div>
					        	</div>
					      	</md-list-item>
					      	<md-list-item class="md-2-line" flex>
					      		<div layout="row" flex>
						        	<div class="md-list-item-text" layout="column" flex="80">
						          		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h3>
						          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						        	</div>
						        	<div class="md-list-item-text" layout="column" flex="20">
						          		<h3>S/20.00</h3>
						        	</div>
					        	</div>
					      	</md-list-item>
					      	<md-list-item class="md-2-line" flex>
					      		<div layout="row" flex>
						        	<div class="md-list-item-text" layout="column" flex="80">
						          		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h3>
						          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						        	</div>
						        	<div class="md-list-item-text" layout="column" flex="20">
						          		<h3>S/20.00</h3>
						        	</div>
					        	</div>
					      	</md-list-item>
					    </md-list>
					</div>
				</div>
			</div>
			<div flex="50" class="animated fadeInRight">
				<div layout="row">
					<div flex class="block-content">
						<h3>Especialidades</h3>
						<em class="em-custom">Precio</em>
						<md-divider></md-divider>
						<md-list>
					      	<md-list-item class="md-2-line" flex>
					      		<div layout="row" flex>
						        	<div class="md-list-item-text" layout="column" flex="80">
						          		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h3>
						          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						        	</div>
						        	<div class="md-list-item-text" layout="column" flex="20">
						          		<h3>S/20.00</h3>
						        	</div>
					        	</div>
					      	</md-list-item>
						    <md-list-item class="md-2-line" flex>
					      		<div layout="row" flex>
						        	<div class="md-list-item-text" layout="column" flex="80">
						          		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h3>
						          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						        	</div>
						        	<div class="md-list-item-text" layout="column" flex="20">
						          		<h3>S/20.00</h3>
						        	</div>
					        	</div>
					      	</md-list-item>
					      	<md-list-item class="md-2-line" flex>
					      		<div layout="row" flex>
						        	<div class="md-list-item-text" layout="column" flex="80">
						          		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h3>
						          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						        	</div>
						        	<div class="md-list-item-text" layout="column" flex="20">
						          		<h3>S/20.00</h3>
						        	</div>
					        	</div>
					      	</md-list-item>
					      	<md-list-item class="md-2-line" flex>
					      		<div layout="row" flex>
						        	<div class="md-list-item-text" layout="column" flex="80">
						          		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h3>
						          		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						        	</div>
						        	<div class="md-list-item-text" layout="column" flex="20">
						          		<h3>S/20.00</h3>
						        	</div>
					        	</div>
					      	</md-list-item>
					    </md-list>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
