<div class="Board animated fadeInUp">
	<div layout="row" class="Board-content">
		<div flex="33">
			<div flex layout="row" layout-align="center center">
				<span class="board-Menu-title">MENU EJECUTIVO </span>
			</div>
			<span class="board-Menu-title-2">ENTRADAS</span>
			<md-list class="board-list">
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">LOMO SALTADO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
			    <md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">SPAGHETTI A LA HUANCAINA</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		    </md-list>
			<span class="board-Menu-title-2">SEGUNDOS</span>
			<md-list class="board-list">
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">LOMO SALTADO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
			    <md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">SPAGHETTI A LA HUANCAINA</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">BISTECK A LA POBRE</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">CHANCHO AL PALO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		    </md-list>
		</div>
		<div flex="33">
			<div flex layout="row" layout-align="center center">
				<span class="board-Menu-title">MENU ECONOMICO</span>
			</div>
			<span class="board-Menu-title-2">ENTRADAS</span>
			<md-list class="board-list">
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">LOMO SALTADO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
			    <md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">SPAGHETTI A LA HUANCAINA</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		    </md-list>
			<span class="board-Menu-title-2">SEGUNDOS</span>
			<md-list class="board-list">
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">LOMO SALTADO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
			    <md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">SPAGHETTI A LA HUANCAINA</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">BISTECK A LA POBRE</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">CHANCHO AL PALO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		    </md-list>
		</div>
		<div flex="33">
			<div flex layout="row" layout-align="center center">
				<span class="board-Menu-title">MENU DIETETICO</span>
			</div>
			<span class="board-Menu-title-2">ENTRADAS</span>
			<md-list class="board-list">
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">LOMO SALTADO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
			    <md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">SPAGHETTI A LA HUANCAINA</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		    </md-list>
			<span class="board-Menu-title-2">SEGUNDOS</span>
			<md-list class="board-list">
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">LOMO SALTADO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
			    <md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">SPAGHETTI A LA HUANCAINA</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">BISTECK A LA POBRE</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		      	<md-list-item class="md-2-line" flex>
		      		<div layout="row" flex>
			        	<div class="md-list-item-text" layout="column" flex>
			          		<h3 class="board-list-item">CHANCHO AL PALO</h3>
			        	</div>
		        	</div>
		      	</md-list-item>
		    </md-list>
		</div>
	</div>
</div>