<div>
    <h1>Panel de Control</h1>
    <div layout="row">
        <div flex="20"></div>
        <div flex="60">
            <md-button class="md-raised md-primary" ui-sref="partido">Registrar Partido</md-button>
            <md-button class="md-raised md-primary">Registrar Alumno</md-button>
            <md-button class="md-raised md-primary">Registrar Facultad</md-button>
            <md-button class="md-raised md-primary">Registrar Mesa</md-button>
        </div>
        <div flex="20"></div>
    </div>
</div>
