<div class="full-height" layout="row" layout-align="center center">
    <div flex="50" class="block-content">
        <form>
            <md-input-container>
                <label>Nombre de Partido</label>
                <input type="text">
            </md-input-container>
            <md-input-container>
                <label>Codigo de Partido</label>
                <input type="text">
            </md-input-container>
            <md-button class="md-raised md-primary">Añadir Lista de Alumnos</md-button>
            <br>sdsdsd
            <md-button class="md-raised md-primary">Guardar</md-button>
        </form>
    </div>
    <div flex="50" class="block-content">
        <md-list>
            <md-list-item>
                <div flex layout="row">
                    <div flex="50">Nombre Partido</div>
                    <div flex="50">Codigo Partido</div>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <div flex layout="row">
                    <div flex="50">Nombre Partido</div>
                    <div flex="50">Codigo Partido</div>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
</div>
dsdsdsd
